<a href="https://colab.research.google.com/github/koto253/DATA_611/blob/main/Module08_Report_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Research Report


Explore an online published machine learning project, based on what you have learned in this course, compose a research report at least including:

1. What is the problem?
The problem with the Titanic dataset is to predict whether a passenger survived or not based on various features.

2. What is the type of machine learning?
 This is a binary classification problem, as the target variable (survival) has two possible outcomes: 0 (did not survive) and 1 (survived).

3. What are the feature variables and target variables?
 The feature variables include attributes like age, gender, passenger class, number of siblings/spouses aboard, number of parents/children aboard, fare, etc. The target variable is "Survived," which indicates whether the passenger survived (1) or not (0).

4. What data preprocessing was used?
The data preprocessing steps might include handling missing values, encoding categorical variables, and feature scaling, just like in the generic example I provided earlier.

5. How did the author explore the data?
The author would explore the dataset by visualizing the distribution of passengers who survived versus those who didn't. They would also explore relationships between features and survival using plots and statistical summaries.

6. What machine learning algorithms were used?
For this Titanic dataset, the author could experiment with various classification algorithms, such as:

*    Logistic Regression
*    Decision Trees
*    Random Forest
*    Support Vector Machines (SVM)
*    Gradient Boosting algorithms (e.g., XGBoost, LightGBM)

6. How the model's performance was evaluated?
The model's performance would be evaluated using metrics such as accuracy, precision, recall, F1-score, and possibly the receiver operating characteristic (ROC) curve.

7. What is the conclusion? Is it reasonable?
The reasonability of the conclusion would be based on the thoroughness of the data exploration, the quality of the preprocessing steps, and the robustness of the model evaluation.

8. If you were the author, which part would you want to improve?
    * Fine-tuning hyperparameters of the models to improve their performance.
    * Trying different combinations of features or creating new features that might have better predictive power.
    * Using advanced techniques like cross-validation and hyperparameter optimization.
    * Exploring ensemble methods to combine the predictions of multiple models.


Pick the following Kaggle project:

- [Titanic Survival](https://www.kaggle.com/yassineghouzam/titanic-top-4-with-ensemble-modeling)

**Due date:** Week 9

# Course Project

**Predict the default of a credit card**

The training data set includes a binary variable, default payment (Yes = 1, No = 0), as the target variable, and the following 23 variables as the features variables:

- X1: Amount of the given credit
- X2: Gender (1 = male; 2 = female)
- X3: Education (1 = graduate school; 2 = universit
y; 3 = high school; 4 = others)
- X4: Marital status (1 = married; 2 = single; 3 = others)
- X5: Age
- X6 - X11: History of past payment. We tracked the past monthly payment records (from April to September, 2005) as follows: X6 = the repayment status in September, 2005; X7 = the repayment status in August, 2005; . . .;X11 = the repayment status in April, 2005. The measurement scale for the repayment status is: -1 = pay duly; 1 = payment delay for one month; 2 = payment delay for two months; . . .; 8 = payment delay for eight months; 9 = payment delay for nine months and above.
- X12-X17: Amount of bill statement. X12 = amount of bill statement in September, 2005; X13 = amount of bill statement in August, 2005; . . .; X17 = amount of bill statement in April, 2005.
- X18-X23: Amount of previous payment. X18 = amount paid in September, 2005; X19 = amount paid in August, 2005; . . .;X23 = amount paid in April, 2005.

Hint: Check the target variable; is the classes balanced or imbalanced?


data file: https://raw.githubusercontent.com/franklin-univ-data-science/data/master/credit_default.csv

## Actions

Implement a model in Jupyter Notebook and discuss the following topics:
 - Describe the problem
   - What is the problem?
   - What is the type of machine learning?
   - What are the feature variables and target variables?
 - Data exploration and preprocessing
   - How did you explore the data?
   - How did you clean the data (are there missing or invalid values)?
 - Modeling
   - Split 20% data as the test set using the random status 123.
   - What machine learning algorithms were used? Which is better?
   - What evaluation metric do you prefer?
   - How did you evaluation model's performance?
   - How did you diagnose the model? Is it overfitting, under fitting, or good fitting?
 - Results and discussion
   - What is your model's results? Is it good? Do you have any concerns?
   
**Due Date:** the last week.

In [ ]:
import pandas as pd

data = pd.read_csv('https://raw.githubusercontent.com/franklin-univ-data-science/data/master/credit_default.csv')

data

,ID,X1,X2,X3,X4,X5,X6,X7,X8,X9,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
0,1,20000,2,2,1,24,2,2,-1,-1,...,0,0,0,0,689,0,0,0,0,1
1,2,120000,2,2,2,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,3,90000,2,2,2,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,4,50000,2,2,1,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,5,50000,1,2,1,57,-1,0,-1,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,29996,220000,1,3,1,39,0,0,0,0,...,88004,31237,15980,8500,20000,5003,3047,5000,1000,0
29996,29997,150000,1,3,2,43,-1,-1,-1,-1,...,8979,5190,0,1837,3526,8998,129,0,0,0
29997,29998,30000,1,2,2,37,4,3,2,-1,...,20878,20582,19357,0,0,22000,4200,2000,3100,1
29998,29999,80000,1,3,1,41,1,-1,0,0,...,52774,11855,48944,85900,3409,1178,1926,52964,1804,1
29999,30000,50000,1,2,1,46,0,0,0,0,...,36535,32428,15313,2078,1800,1430,1000,1000,1000,1